# APP CONFIG
PORT=4000
NODE_ENV=development
RATE_LIMIT_TTL=60
RATE_LIMIT=60

# AUTH CONFIG
EXPIRE_IN=604800000
TOKEN_SECRET=your-secret-key-here

# DB CONFIG
DB_URI=mongodb://127.0.0.1:27020/freeusdb

# REDIS CONFIG
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# EMAIL CONFIG
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
FRONTEND_URL=http://localhost:3000

# donation wallets (read via DonationsService)
BTC_ADDRESS=
USDT_ADDRESS=
